@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

html, body, div, span, h1, h2, p, a, 
img, ul, li, footer, header, section {
	border: 0;
	font-family: Arial, Helvetica, Verdana;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	overflow: hidden;
}

*, *:before, *:after {
	letter-spacing: .2rem;
	box-sizing: border-box;
}

body {
	background: #000;
	text-transform: uppercase;
}

#bg {
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	transform: scale(1.0);
  width: 100%;
	z-index: 1;
}

#bg:before, #bg:after {
  content: '';
	display: block;
	height: 100%;
	left: 0;
  position: absolute;
  top: 0;
	width: 100%;
}

#bg:before {
	background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url('../../overlays/overlay.png');
	background-position: center, center;
	background-repeat: no-repeat, repeat;
	background-size: auto, 256px 256px;
	transition: background-color 1s ease-in-out;
	transition-delay: 0.75s;
  z-index: 2;
}

#bg:after {
  background-image: url('../../images/bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
	transform: scale(1.125);
	transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
  z-index: 1;
}

body.is-preload #bg:before {
	background-color: #000000;
}

body.is-preload #home {
	opacity: 0;
	transform: rotateX(15deg);
}

body.is-preload #footer {
	display: none;
}

body.is-section-visible #home, 
body.is-section-visible #footer {
	display: none;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h1, h2 {
	color: #2c2b2b;
	margin: 2rem 0 0 0;
	text-align: center;
}

p {
	font-size: 1.6rem;
	line-height: 2;
	margin: 1rem 0 0 0;
	text-align: left;
	text-transform: initial;
}

header {
	align-items: center;
	display: flex;
	flex-direction: column;
}

section {
	transform: rotateX(50deg);
	opacity: 0;
}

ul {
	list-style: none;
	margin: 0 0 2rem 0;
}

ul li {
	margin: 0 0 2rem 0; 
}

a {
	color: inherit;
	font-size: 1.6rem;
	text-decoration: none;
}

a:hover {
	color: #B23636;
}

#my-image:hover {
	cursor: pointer;
}

/* Wrapper */ 

#wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	padding: 2rem;
	position: relative;
	width: 100vw;
	z-index: 3;
}

/* Home */ 

#wrapper section.active, #home {
	background: #dddada;
	border-radius: 4px;
	cursor: default;
	opacity: .95;
	overflow-y: scroll;
	transition: opacity .1s linear, transform .1s linear; 
	transform: rotateX(0deg);
	width: 60vw;
}

#wrapper #home {
	padding: 4rem;
}

#wrapper section.active {
	padding: 4rem 4rem 0 4rem;
}

#home.onSectionActive {
	transform: rotateX(50deg);
	opacity: 0;	
}

#home .avatar {
	position: relative;
	display: block;
}

#home .avatar img {
	border-radius: 100%;
	display: block;
	margin: 0 auto;
	width: 25%;
}

#home .avatar img:hover {
	opacity: .8;
}

#home .avatar:before {
	background: #abaaaa;
	content: '';
	display: block;
	height: .2rem;
	left: 0;
	position: absolute;
	top: 50%;
	width: 37%;
	z-index: -1;
}

#home .avatar:after {
	background: #abaaaa;
	content: '';
	display: block;
	height: .2rem;
	position: absolute;
	right: 0;
	top: 50%;
	width: 37%;
	z-index: -1;
}

.links {
	color: #424141;
	display: flex;
	font-size: 1.8rem;
	font-weight: bold;
	justify-content: space-evenly;
  list-style: none;
  padding: 0;
	margin: 2rem 0 0 0;
}

.links li {
	margin: 0 0 0 1rem; 
}

.links li a {
	font-size: 1.8rem;
}

ul.icons li a {
	color: #ffffff;
	display: block;
	font-family: FontAwesome;
	height: 5rem;
	position: relative;
	text-align: center;
	width: 5rem;
}

ul.icons li a:before {
	font-size: 5rem;
	left: 0;
	position: absolute;
	text-indent: 0;
	top: 0;
	width: inherit;
}

ul.icons li a:hover:before {
	text-shadow: 2px 0 0 #696969, -2px 0 0 #696969, 0 2px 0 #696969, 0 -2px 0 #696969;
}

/* Close button */ 

span.fa-times.close {
	cursor: pointer; 
	display: block;
	font-family: FontAwesome;
	font-size: 3rem;
	height: 4rem;
	margin: 1rem;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
  width: 4rem;
}

span.fa-times.close:hover{
	color: #7fb1b1;
}

/* Botton Navigation */ 

.nav {
	display: flex;
	justify-content: space-between;
	margin: 4rem 0 2rem 0;
}

.nav a {
	background: #004F4F;
	border-radius: .6rem;
	color: #fff;
	padding: 1rem; 
}

.nav a:nth-child(2) {
	background: #640000;
}

.nav a:hover {
	opacity: .8;
}

.fa-caret-left:before {
	content: "\f0d9";
	font-family: FontAwesome;
}

.fa-caret-left:after {
	margin: 0 0 0 1rem;
}

.fa-caret-right:before {
	margin: 0 1rem 0 0;
}

.fa-caret-right:after {
	content: "\f0da";
	font-family: FontAwesome;
}

#about-nav .fa-caret-left:after {
	content: "Home"
}

#about-nav .fa-caret-right:before {
	content: "Projects"
}

#projects-nav .fa-caret-left:after {
	content: "About";
}

#projects-nav .fa-caret-right:before {
	content: "Experience"
}

#experience-nav .fa-caret-left:after {
	content: "Projects"
}

#experience-nav .fa-caret-right:before {
	content: "Contact"
}

#contact-nav .fa-caret-left:after {
	content: "Experience"
}

#contact-nav .fa-caret-right:before {
	content: "Resume"
}

/* Project Section */ 

.project {
	margin: 3rem 0 0 0;
}

.project h2 {
	margin: 0
}

.project-heading {
	display: flex;
	justify-content: space-between;
}

.project-links {
	color: #fff;
	display: flex;
	margin: 1rem 0 0 0;
}

.view-project {
	background: #0d0c0c;
	border-radius: .6rem;
	padding: 1rem;
}

.project-links a {
	height:100%;
	margin: 0 2rem 0 0;
	text-align: center;
}

.project-links a:hover {
	color: #fff;
	cursor: pointer;
	opacity: .8;
}

.dropdown {
	display: flex;
	flex-direction: column;
}

.dropdown button {
	background: #676d74;
	border: none;
  border-radius: .6rem;
  color: #fff;
	font: inherit;
	font-size: 1.6rem;
	outline: none;
	padding: 1rem;
	text-transform: uppercase;
	width: 100%;
}

.dropdown button:hover {
	cursor: pointer;
	opacity: .7;
}

.dropdown-content {
	background: #f1f1f1;
	border-radius: 0 0 .8rem .8rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: none;
	min-width: 160px;
	overflow: auto;
	text-align: center;
}

.dropdown-content a:first-child {
	border-bottom: 2px solid black;
}

.dropdown-content a {
	color: black;
	margin: 0;
	padding: 1rem;
	text-decoration: none;
}

.dropdown-content a:hover {
	background-color: #746e67;
}

.show {
	display: flex;
	flex-direction: column;
}

/* Experience Section */ 

#experience h2 {
	text-align: left;
}

.experience-company {
	display: flex;
	flex-direction: column;
	margin: 3rem 0 0 0;
	text-align: left;
}

.experience-company a {
	width: 30%
}

.experience-company img {
	width: 100%;
}

.astreya {
	display: flex;
	justify-content: space-between;
	width: 50% !important; 
}

.astreya_logo {
	height: 10rem;
	margin: 0 2rem 0 0;
	width: 10rem !important;
}

.astreya h2 {
	align-self: center;
	margin: 0 2rem 0 0;
}

.astreya-location {
	margin: 2rem 0 0 0 !important;
}

.google_logo {
	align-self: center;
	width: 13rem !important;
}

.perscholas_logo {
	text-indent: -1rem;
}

.experience-position {
	display: flex;
	justify-content: space-between;
}

.experience-company ul {
	list-style: square inside;
	margin: 1rem 0 0 0;
}

.experience-company ul li {
	font-size: 1.6rem;
	line-height: 2;
	margin: 0 0 1rem 0;
	text-align: left;
	text-transform: initial;
}

/* Contact Section */ 

#contact form {
	display: flex;
	flex-direction: column;
	margin: 3rem 0 0 0; 
}

.contact-input {
	display: flex;
	justify-content: space-between;
}

.contact-input input {
	border: 2px solid  #003535;
	border-radius: .6rem;
	font-size: 1.6rem;
	outline: none;
	padding: 1rem;
	width: 45%; 
}

#contact textarea {
	border: 2px solid #003535;
	border-radius: .6rem;
	font-size: 1.6rem;
	height: 40vh;
	margin: 2rem 0 0 0; 
	outline: none;
	overflow: scroll;
	padding: 1rem;
	resize: none;
	width: 100%; 
}

.contact-button {
	display: flex;
	justify-content: flex-start;
	margin: 2rem 0 0 0;
}

.contact-button button {
	background: #0d0c0c;
	border-radius: .6rem;
	color: #fff;
	font-size: 1.6rem;
	margin: 0 2rem 0 0;
	padding: 1rem;
}

.contact-button button:hover {
	cursor: pointer;
	opacity: .8;
}

.contact-button button:nth-child(2) {
	background: #640000;
} 

#footer {
	cursor: default;
	margin: 2rem 0 2rem 0;
	width: 60vw;
}

#footer .copyright {
	display: flex; 
	justify-content: center;
	margin: 0;
}

#footer .copyright li {
	margin: 0 2rem 0 2rem;
}

/* Modal */ 
	
.modal {
	align-items: center;
	background-color: rgba(0,0,0,0.9);
	display: none; 
	flex-direction: column;	
	height: 100vh; 
	justify-content: center;
	overflow: auto; 
	position: fixed; 
	top: 0;
	width: 100vw;
	z-index: 4;
}

/* Modal Content */ 

.modal-content {
	animation: zoom 0.6s;
	border-radius: 100%;
	display: block;
	margin: auto;
	width: 50vw;
}

@keyframes zoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}

/* The Close Button for the Modal */ 

.modal-close {
	color: #fff;
	cursor: pointer; 
	font-family: FontAwesome;
	font-size: 3rem;
	height: 4rem;
	margin: 1rem;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
  width: 4rem;
}

.modal-close:hover,
.modal:focus {
	color:#7fb1b1;
	cursor: pointer;
}

@media screen and (max-width: 930px) {
	#home,
	#wrapper section.active {
		width: 80vw;
	}

	.links {
		align-items: center;
		flex-direction: column;
	}

	.links li {
		margin: 0 0 2rem 0;
	}

	.modal-content {
		width: 60vw;
	}
}

@media screen and (max-width: 480px) {
	.nav {
		align-items: center;
		flex-direction: column;
	}

	.nav a:nth-child(2) {
		margin: 2rem 0 0 0;
	}

	#wrapper {
		justify-content: space-between;
	}

	#home,
	#wrapper section.active {
		width: 100%;
	}

	.project-heading {
		flex-direction: column;
	}

	.project-heading h2:nth-child(2) {
		margin: 2rem 0 0 0;
	}

	.project-links {
		align-items: center;
		flex-direction: column;
	}

	.project-links .view-project {
		margin: 0 0 2rem 0; 
	}

	#experience h2 {
		text-align: center;
	}

	.experience-company {
		align-items: center;
		text-align: center;
	}

	.experience-position {
		align-items: center;
		flex-direction: column;
	}

	.astreya {
		align-items: center;
		flex-direction: column;
	}

	.astreya_logo {
		margin: 0 0 2rem 0;
	}

	.astreya h2 {
		margin: 0 0 2rem 0; 
	}

	.contact-input {
		flex-direction: column;
	}

	.contact-input input {
		width: 100%;
	}

	.contact-input input:nth-child(2) {
		margin: 2rem 0 0 0;
	}

	#footer {
		min-height: auto;
		margin: 2rem 0 2rem 0;
	}

	.modal-content {
		width: 70vw;
	}
}