@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

html, body, div, span, h1, h2, p, a, 
img, ul, li, fieldset, form, label,
footer, header, nav, section {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	line-height: 1;
	-webkit-text-size-adjust: none;
}

body {
	height: 100%;
	background-image: url("images/overlay.png"), linear-gradient(360deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("../../images/brookly_bridge.jpg");
	background-image: url("images/overlay.png"), linear-gradient(360deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("../../images/brookly_bridge.jpg");
	background-image: url("images/overlay.png"), linear-gradient(360deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("../../images/brookly_bridge.jpg");
	background-image: url("images/overlay.png"), linear-gradient(360deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("../../images/brookly_bridge.jpg");
	background-repeat: repeat, no-repeat, no-repeat;
	background-size: 100px 100px, cover, cover;
	background-position: top left, center center, bottom center;
	background-attachment: fixed, fixed, fixed;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

body.is-preload:after {
	opacity: 1;
}

body:after {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	opacity: 0;
	z-index: 1;
	background-color: #000;
	background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(125, 100, 150, 0.5), rgba(0, 100, 100, 0.35));
	background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(125, 100, 150, 0.5), rgba(0, 100, 100, 0.35));
	background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(125, 100, 150, 0.5), rgba(0, 100, 100, 0.35));
	background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(125, 100, 150, 0.5), rgba(0, 100, 100, 0.35));
	background-repeat: repeat, no-repeat;
	background-size: 100px 100px, cover;
	background-position: top left, center center;
	-moz-transition: opacity 1.75s ease-out;
	-webkit-transition: opacity 1.75s ease-out;
	-ms-transition: opacity 1.75s ease-out;
	transition: opacity 1.75s ease-out;
}


body, input {
	color: #414f57;
	font-family: monospace;
	font-size: 14px;
	font-weight: 300;
	line-height: 2;
	letter-spacing: 1px;
	text-transform: uppercase;
}

header, section, footer {
	display: block;
}

ul {
	list-style: none;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

a {
	-moz-transition: color 0.2s ease, border-color 0.2s ease;
	-webkit-transition: color 0.2s ease, border-color 0.2s ease;
	-ms-transition: color 0.2s ease, border-color 0.2s ease;
	transition: color 0.2s ease, border-color 0.2s ease;
	color: inherit;
	text-decoration: none;
}

a:before {
	-moz-transition: color 0.2s ease, text-shadow 0.2s ease;
	-webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
	-ms-transition: color 0.2s ease, text-shadow 0.2s ease;
	transition: color 0.2s ease, text-shadow 0.2s ease;
}

a:hover {
	color: #B0C4DE;
}

p {
	margin: 0 0 1.5em 0;
}

h1, h2 {
	color: #313f47;
	line-height: 1.5;
	margin: 0 0 0.75em 0;
}

h1 a, h2 a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 1.85em;
	letter-spacing: 0.22em;
	margin: 0 0 0.525em 0;
}

h2 {
	font-size: 1.25em;
}

form {
	margin: 0 0 1.5em 0;
}

form > :last-child {
	margin-bottom: 0;
}

form > .fields {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: calc(100% + 2.25em);
	margin: -1.125em 0 1.5em -1.125em;
}

form > .fields > .field {
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	padding: 1.125em 0 0 1.125em;
	width: calc(100% - 1.125em);
}

form > .fields > .field.half {
	width: calc(50% - 0.5625em);
}

form > .fields > .field.third {
	width: calc(100%/3 - 0.375em);
}

form > .fields > .field.quarter {
	width: calc(25% - 0.28125em);
}

label {
	color: #313f47;
	display: block;
	font-size: 0.9em;
	margin: 0 0 0.75em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 4px;
	border: solid 1px #c8cccf;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid {
	box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focusv {
	border-color: #B0C4DE;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	height: 2.75em;
}

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	text-decoration: none;
	color: #414f57;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 300;
	padding-left: 2.4em;
	padding-right: 0.75em;
	position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	border-radius: 4px;
	border: solid 1px #c8cccf;
	content: '';
	display: inline-block;
	height: 1.65em;
	left: 0;
	line-height: 1.58125em;
	position: absolute;
	text-align: center;
	top: 0.15em;
	width: 1.65em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
	color: #B0C4DE;
	content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
	border-color: #B0C4DE;
}

input[type="checkbox"] + label:before {
	border-radius: 4px;
}

input[type="radio"] + label:before {
	border-radius: 100%;
}

::-webkit-input-placeholder {
	color: #616f77 !important;
	opacity: 1.0;
}

:-moz-placeholder {
	color: #616f77 !important;
	opacity: 1.0;
}

::-moz-placeholder {
	color: #616f77 !important;
	opacity: 1.0;
}

:-ms-input-placeholder {
	color: #616f77 !important;
	opacity: 1.0;
}

.icon {
	text-decoration: none;
	position: relative;
	border-bottom: none;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

li {
	padding-left: 0.25em;
}

ul {
	list-style: disc;
	margin: 0 0 1.5em 0;
	padding-left: 1em;
}

ul li {
	padding-left: 0.5em;
}

ul.alt {
	list-style: none;
	padding-left: 0;
}

ul.alt li {
	border-top: solid 1px #c8cccf;
	padding: 0.5em 0;
}

ul.alt li:first-child {
	border-top: 0;
	padding-top: 0;
}

ul.actions {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	cursor: default;
	list-style: none;
	margin-left: -0.75em;
	padding-left: 0;
}

ul.actions li {
	padding: 0 0 0 0.75em;
	vertical-align: middle;
}

ul.actions.special {
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	width: 100%;
	margin-left: 0;
}

ul.actions.special li:first-child {
	padding-left: 0;
}

ul.actions.stacked {
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-left: 0;
}

ul.actions.stacked li {
	padding: 0.975em 0 0 0;
}

ul.actions.stacked li:first-child {
	padding-top: 0;
}

ul.actions.fit {
	width: calc(100% + 0.75em);
}

ul.actions.fit li {
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	width: 100%;
}

ul.actions.fit li > * {
	width: 100%;
}

ul.actions.fit.stacked {
	width: 100%;
}		

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin-top: -0.675em;
}

ul.icons li {
	display: inline-block;
	padding: 0.675em 0.5em;
}

ul.icons li a {
	text-decoration: none;
	position: relative;
	display: block;
	width: 3.75em;
	height: 3.75em;
	border-radius: 100%;
	border: solid 2px #fff;
	line-height: 3.5em;
	overflow: hidden;
	text-align: center;
	text-indent: 3.75em;
	white-space: nowrap;
}

ul.icons li a:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

ul.icons li a:before {
	color: #ffffff;
	text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
}

ul.icons li a:hover:before {
	text-shadow: 1.25px 0px 0px #696969, -1.25px 0px 0px #696969, 0px 1.25px 0px #696969, 0px -1.25px 0px #696969;
}

ul.icons li a:before {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	font-size: 1.85rem;
	line-height: inherit;
	text-align: center;
	text-indent: 0;
}

ul.icons li a:hover {
	border-color: #696969;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	display: inline-block;
	height: 2.75em;
	line-height: 2.75em;
	padding: 0 1.5em;
	background-color: transparent;
	border-radius: 4px;
	border: solid 1px #c8cccf;
	color: #414f57 !important;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	border-color: #B0C4DE;
	color: #B0C4DE !important;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
	padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
	margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
	width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
	font-size: 0.8em;
}

input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
button.large,
.button.large {
	font-size: 1.35em;
}

input[type="submit"].disabled, 
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
	pointer-events: none;
	opacity: 0.5;
}

#home, #main, #about, #projects, #experience {
	-moz-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-moz-transition: opacity 1s ease, -moz-transform 1s ease;
	-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
	-ms-transition: opacity 1s ease, -ms-transform 1s ease;
	transition: opacity 1s ease, transform 1s ease;
	padding: 4.5em 3em 3em 3em ;
	background: #ffffff;
	border-radius: 4px;
	cursor: default;
	max-width: 100%;
	opacity: 0.95;
	position: relative;
	text-align: center;
	width: 60%;
}

#home .avatar {
	position: relative;
	display: block;
	margin-bottom: 1.5em;
}

#home .avatar img {
	display: block;
	margin: 0 auto;
	border-radius: 100%;
	box-shadow: 0 0 0 1.5em #ffffff;
	width: 25%;
}

#home .avatar:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: -3em;
	width: calc(100% + 6em);
	height: 1px;
	z-index: -1;
	background: #c8cccf;
}

body.is-preload #home,
body.is-preload #main,
body.is-preload #about,
body.is-preload #projects,
body.is-preload #experience {
	-moz-transform: rotateX(15deg);
	-webkit-transform: rotateX(15deg);
	-ms-transform: rotateX(15deg);
	transform: rotateX(15deg);
	opacity: 0;
}

#about p,
#projects p,
#experience p {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 10px 0;
	text-align: justify;
	text-transform: initial;
}

.project-heading {
	display: flex;
	justify-content: space-between;
}

.project-links {
	display: flex;
}

.project-links a {
	margin: 0 5% 25px 0;
}

.dropdown {
	display: flex;
	flex-direction: column;
}

.dropdown button {
	-webkit-transition: color 0.2s ease, border-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-color 0.2s ease;
    transition: color 0.2s ease, border-color 0.2s ease;
    color: inherit;
	border: none;
	letter-spacing: 1px;
	text-transform: uppercase;
    font: inherit;
	margin: 0 5% 25px 0;
	height: 0;
	outline: none;
}

.arrow {
	font-size: 11px;
}

.dropdown-content {
	display: none;
	background: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 2px;
	margin: 0;
	text-decoration: none;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.show {
	display: flex;
	flex-direction: column;
}

.experience-heading {
	display: flex;
	flex-direction: column;
    text-align: left;
}

#experience img {
	width: 25%;
	margin: 0 0 0.75em 0;
}

.astreya {
	display: flex
}

.astreya_logo {
	width: 15% !important;
	height: 100px;
	margin: 0 5% 0.75em 0 !important;
}

.astreya h2 {
	align-self: center;
}

.google_logo {
	width: 25% !important;
	height: 50px;
	margin: 0 0 0.75em 5% !important;
	align-self: center;
}

.experience-job {
	display: flex;
	justify-content: space-between;
}

#experience ul {
	padding: 0;
    margin-left: 3%;
	list-style-type: square;
}

#experience ul li {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0;
	text-align: justify;
	text-transform: initial;
}

#footer {
	-moz-align-self: -moz-flex-end;
	-webkit-align-self: -webkit-flex-end;
	-ms-align-self: -ms-flex-end;
	align-self: flex-end;
	width: 100%;
	padding: 1.5em 0 0 0;
	color: rgba(255, 255, 255, 0.75);
	cursor: default;
	text-align: center;
}

#footer .copyright {
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	list-style: none;
}

#footer .copyright li {
	display: inline-block;
	margin: 0 0 0 0.45em;
	padding: 0 0 0 0.85em;
	line-height: 1;
}

#footer .copyright li:first-child {
	border-left: 0;
}

#wrapper {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-perspective: 1000px;
	-webkit-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
	position: relative;
	min-height: 100%;
	padding: 1.5em;
	z-index: 2;
}

#wrapper > * {
	z-index: 1;
}

#wrapper:before {
	content: '';
	display: block;
}

body.is-ie #wrapper {
	height: 100%;
}

.links {
	display: flex;
    list-style: none;
    padding: 0;
    margin: -7px;
    justify-content: space-evenly;
}

.links {
	padding: 0;
}

@media screen and (max-width: 880px) {
	body, input {
		font-size: 14px;
	}
}

@media screen and (max-width: 480px) {
	html, body {
		min-width: 320px;
	}

	body, input {
		line-height: 1.75;
	}

	h1 {
		font-size: 1.65em;
	}
}

@media screen and (max-width: 768px) {
	.links {
		flex-direction: column;	
	}
}

@media screen and (max-width: 480px) {
	#home, #about, #projects, #experience {
		padding: 4em 2em 2.5em 2em ;
		width: 100%;
	}

	#home .avatar:before {
		left: -2em;
		width: calc(100% + 4em);
	}

	form > .fields {
		width: calc(100% + 2.25em);
		margin: -1.125em 0 1.5em -1.125em;
	}

	form > .fields > .field {
		padding: 1.125em 0 0 1.125em;
		width: calc(100% - 1.125em);
	}

	form > .fields > .field.half {
		width: calc(100% - 1.125em);
	}

	form > .fields > .field.third {
		width: calc(100% - 1.125em);
	}

	form > .fields > .field.quarter {
		width: calc(100% - 1.125em);
	}

	ul.actions:not(.fixed) {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-left: 0;
		width: 100% !important;
	}

	ul.actions:not(.fixed) li {
		-moz-flex-grow: 1;
		-webkit-flex-grow: 1;
		-ms-flex-grow: 1;
		flex-grow: 1;
		-moz-flex-shrink: 1;
		-webkit-flex-shrink: 1;
		-ms-flex-shrink: 1;
		flex-shrink: 1;
		padding: 0.75em 0 0 0;
		text-align: center;
		width: 100%;
	}

	ul.actions:not(.fixed) li > * {
		width: 100%;
	}

	ul.actions:not(.fixed) li:first-child {
		padding-top: 0;
	}

	ul.actions:not(.fixed) li input[type="submit"],
	ul.actions:not(.fixed) li input[type="reset"],
	ul.actions:not(.fixed) li input[type="button"],
	ul.actions:not(.fixed) li button,
	ul.actions:not(.fixed) li .button {
		width: 100%;
	}

	ul.actions:not(.fixed) li input[type="submit"].icon:before,
	ul.actions:not(.fixed) li input[type="reset"].icon:before,
	ul.actions:not(.fixed) li input[type="button"].icon:before,
	ul.actions:not(.fixed) li button.icon:before,
	ul.actions:not(.fixed) li .button.icon:before {
		margin-left: -0.5rem;
	}

	ul.icons li a:before {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 360px) {
	#wrapper {
		padding: 0.75em;
	}
}

/* CSS for Jquery */ 

body.is-section-visible #bg:after {
	-moz-transform: scale(1.0825);
	-webkit-transform: scale(1.0825);
	-ms-transform: scale(1.0825);
	transform: scale(1.0825);
	-moz-filter: blur(0.2rem);
	-webkit-filter: blur(0.2rem);
	-ms-filter: blur(0.2rem);
	filter: blur(0.2rem);
}

body.is-preload #bg:before {
	background-color: #000000;
}

#wrapper section.active {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

#wrapper section .close:hover:before {
	background-color: rgba(255, 255, 255, 0.075);
} 

#wrapper section .close:active:before {
	background-color: rgba(255, 255, 255, 0.175);
}

#wrapper section .close {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	text-indent: 4rem;
	overflow: hidden;
	white-space: nowrap;
}

#wrapper section .close:before {
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	content: '';
	display: block;
	position: absolute;
	top: 0.75rem;
	left: 0.75rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	background-position: center;
	background-image: url("../../images/close.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

#wrapper section .close:hover:before {
	background-color: rgba(255, 255, 255, 0.075);
}

#wrapper section .close:active:before {
	background-color: rgba(255, 255, 255, 0.175);
}

