@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

html, body, div, span, h1, h2, h3, p, a, 
img, ul, li, footer, header, section {
	border: 0;
	font: inherit;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-attachment: fixed;
	background-image: url("images/overlay.png"), linear-gradient(360deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url("../../images/brookly_bridge.jpg");
	background-repeat: repeat, no-repeat;
	background-size: 10px, cover, cover;
	background-position: top left, center center, bottom center;
	color: #414f57;
	font-family: monospace;
	height: 100vh;
	line-height: 2;
	letter-spacing: .1rem;
	text-transform: uppercase;
	width: 100vw; 
}

body:after {
	background-color: #000;
	background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(125, 100, 150, .5), rgba(0, 100, 100, .35));
	background-repeat: repeat, no-repeat;
	background-size: 10px, cover, cover;
	background-position: top left, center center, bottom center;
	content: '';
	display: block;
	height: inherit;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity 1s ease-out;
	width: 100%;
	z-index: 1;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
	animation: none;
	transition: none;
}

body.is-preload {
	background-color: #000000;
}

body.is-preload #home {
	opacity: 0;
	transform: rotateX(15deg);
}

body.is-preload #footer {
	display: none;
}

body.is-preload:after {
	opacity: 1;
}

body.is-section-visible #home, 
body.is-section-visible #footer {
	display: none;
}

h1 {
	font-size: 3rem;
	letter-spacing: .3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem; 
}

h1, h2, h3 {
	color: #313f47;
	line-height: 1.5;
	margin: 1rem 0 0 0;
}

p {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 1.6rem;
	font-weight: bold;
	margin: 1rem 0 0 0;
	text-align: justify;
	text-transform: initial;
}

header, section {
	display: block;
}

section {
	transform: rotateX(15deg);
	opacity: 0;
}

ul {
	list-style: none;
	margin: 0 0 2rem 0;
}

ul li {
	margin: 0 0 2rem 0; 
}

a {
	color: inherit;
	font-size: 1.6rem;
	text-decoration: none;
}

a:hover {
	color: #B0C4DE;
}

#my-image:hover {
	cursor: pointer;
}

/* Wrapper */ 

#wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 2rem;
	position: relative;
	z-index: 2;
}

#wrapper > * {
	z-index: 1;
}

#wrapper:before {
	content: '';
	display: block;
}

/* Home */ 

#wrapper section.active, #home {
	background: #ffffff;
	border-radius: 4px;
	padding: 4rem ;
	cursor: default;
	max-width: 100%;
	opacity: .95;
	text-align: center;
	transition: opacity 1s ease, transform 1s ease;
	transform: rotateX(0deg);
	transform-origin: 50% 50%;
	width: 60%;
}

#home.onSectionActive {
	transform: rotateX(15deg);
	opacity: 0;	
}

#home .avatar {
	position: relative;
	display: block;
}

#home .avatar img {
	border-radius: 100%;
	box-shadow: 0 0 0 1.5rem #ffffff;
	display: block;
	margin: 0 auto;
	width: 25%;
}

#home .avatar:before {
	background: #c8cccf;
	content: '';
	display: block;
	height: .1rem;
	left: -2.7rem;
	position: absolute;
	top: 50%;
	width: calc(100% + 6em);
	z-index: -1;
}

.links {
	display: flex;
	justify-content: space-evenly;
    list-style: none;
    padding: 0;
	margin: 2rem 0 0 0;
}

.links li {
	margin: 0 0 0 1rem; 
}

ul.icons li a {
	color: #ffffff;
	display: block;
	font-family: FontAwesome;
	height: 5rem;
	line-height: 5rem;
	position: relative;
	text-align: center;
	width: 5rem;
}

ul.icons li a:before {
	font-size: 5rem;
	left: 0;
	position: absolute;
	text-indent: 0;
	top: 0;
	width: inherit;
}

ul.icons li a:hover:before {
	text-shadow: 2px 0 0 #808080, -2px 0 0 #808080, 0 2px 0 #808080, 0 -2px 0 #808080;
}

/* Close button */ 

span.fa-times.close {
	cursor: pointer; 
	display: block;
	font-family: FontAwesome;
	font-size: 3rem;
	height: 4rem;
	line-height: 4rem;
	position: absolute;
	right: .5rem;
	top: .5rem;
    width: 4rem;
}

span.fa-times.close:hover{
	color: #7fb1b1;
}

/* Project Section */ 

.project {
	margin: 2rem 0 0 0;
}

.project h2 {
	margin: 0
}

.project-heading {
	display: flex;
	justify-content: space-between;
}

.project-links {
	color: #fff;
	display: flex;
	margin: 1rem 0 0 0;
}

.view-project {
	background: #007e7e;
	border-radius: .8rem;
	padding: .8rem;
}

.project-links a {
	height: 100%;
	margin: 0 2rem 0 0;
}

.project-links a:hover {
	color: #fff;
	cursor: pointer;
	opacity: .7;
}

.dropdown {
	display: flex;
	flex-direction: column;
}

.dropdown button {
	background: #007e7e;
	border: none;
    border-radius: .8rem;
    color: #fff;
	font: inherit;
	font-size: 1.6rem;
	letter-spacing: .1rem;
	outline: none;
	padding: .8rem;
	transition: color 0.2s ease, border-color 0.2s ease;
	text-transform: uppercase;
	width: 100%;
}

.dropdown button:hover {
	cursor: pointer;
	opacity: .7;
}

.arrow {
	font-size: 1rem;
}

.dropdown-content {
	background: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: none;
	min-width: 160px;
	overflow: auto;
}

.dropdown-content a {
	color: black;
	margin: 0;
	text-decoration: none;
}

.dropdown-content a:hover {
	background-color: #696969;
}

.show {
	display: flex;
	flex-direction: column;
}

/* Experience Section */ 

.experience-company {
	display: flex;
	flex-direction: column;
	margin: 2rem 0 0 0;
	text-align: left;
}

.experience-company a {
	width: 30%
}

.experience-company img {
	width: 100%;
}

.astreya {
	display: flex;
	justify-content: space-between;
	width: 50% !important; 
}

.astreya_logo {
	height: 10rem;
	margin: 0 2rem 0 0;
	width: 10rem !important;
}

.astreya h2 {
	align-self: center;
	margin: 0 2rem 0 0;
}

.astreya-location {
	margin: 2rem 0 0 0 !important;
}

.google_logo {
	align-self: center;
	width: 13rem !important;
}

.perscholas_logo {
	text-indent: -1rem;
}

.experience-position {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0 0 0;
}

.experience-company ul {
	list-style: square inside;
	margin: 1rem 0 0 0;
}

.experience-company ul li {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 1.6rem;
	font-weight: bold;
	margin: 0 0 1rem 0;
	text-align: justify;
	text-transform: initial;
}

#footer {
	cursor: default;
	margin: 2rem 0 2rem 0;
	width: 60%;
}

#footer .copyright {
	display: flex; 
	justify-content: center;
	margin: 0;
}

#footer .copyright li {
	margin: 0 2rem 0 2rem;
}

/* Modal */ 
	
.modal {
	background-color: rgba(0,0,0,0.9);
	display: none; 
	height: 100vh; 
	overflow: auto; 
	padding: 4rem;
	position: fixed; 
	top: 0;
	width: 100vw;
	z-index: 2;
}

/* Modal Content */ 

.modal-content {
	animation: zoom 0.6s;
	border-radius: 100%;
	display: block;
	margin: auto;
	width: 50vw;
}

@keyframes zoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}

/* The Close Button for the Modal */ 

.modal-close {
	color: #fff;
	cursor: pointer; 
	display: block;
	font-family: FontAwesome;
	font-size: 3rem;
	height: 4rem;
	line-height: 4rem;
	position: absolute;
	right: 1rem;
	top: 1rem;
    width: 4rem;
}

.modal-close:hover,
.modal:focus {
	color:#7fb1b1;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	#home,
	#wrapper section.active {
		width: 80%;
	}

	.links {
		flex-direction: column;
	}

	.links li {
		margin: 0 0 .5rem 0;
	}

	.modal-content {
		width: 60vw;
	}
}

@media screen and (max-width: 480px) {
	html,
	body {
		min-width: 320px;
	}

	body {
		line-height: 1.75;
	}

	#wrapper {
		justify-content: flex-start;
		padding: 0;
	}

	#home,
	#wrapper section.active {
		width: 100%;
	}

	#home .avatar:before {
		left: -2em;
		width: calc(100% + 4em);
	}

	.project-heading {
		flex-direction: column;
	}

	.project-links {
		justify-content: center;
	}

	.experience-company {
		align-items: center;
		text-align: center;
		margin: 1rem 0 0 0;
	}

	.experience-position {
		flex-direction: column;
	}

	.astreya {
		align-items: center;
		flex-direction: column;
	}

	.astreya_logo {
		margin: 0 0 2rem 0;
	}

	.astreya h2 {
		margin: 0 0 2rem 0; 
	}

	#footer {
		margin: 5rem 0 0 0;
	}

	.modal-content {
		width: 70vw;
	}
}

@media screen and (max-width: 360px) {
	#wrapper {
		padding: 0.75em;
	}
}